:root {
    /* Primary */

    --clr-primary-ios: hsl(171, 66%, 44%);
    --clr-primary-mac: hsl(233, 100%, 69%);

    /* Neutral */
    --clr-neutral-header-text: hsl(210, 10%, 33%);
    --clr-neutral-text: hsl(201, 11%, 66%);

    --ff-primary: 'Bai Jamjuree', sans-serif;
    --fw-regular: 400;
    --fw-bold: 600;
    --fs-base: 1.125rem;
    --paddingX: 2rem;
}

body {
    color: var(--clr-neutral-text);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: var(--fw-regular);
    text-align: center;
}

.hero {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 8rem var(--paddingX) 10rem;
}

.hero-title {
    color: var(--clr-neutral-header-text);
    font-size: 2rem;
    line-height: 1.2;
    margin: 1rem 0;
}

.hero-desc {
    font-size: 1rem;
    max-width: 55ch;;
}

.download-btn-wrapper {
    color: white;
    font-weight: var(--fw-bold);
    font-size: var(--fs-base);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    width: 100%;
}

.ios-btn, .mac-btn {
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
}

.ios-btn {
    background-color: var(--clr-primary-ios);
    border-bottom: 3px solid hsla(171, 66%, 35%);
}

.mac-btn {
    background-color: var(--clr-primary-mac);
    border-bottom: 3px solid hsl(233, 100%, 65%);
}

@media (min-width: 900px) {
    body {
        font-size: var(--fs-base);
    }

    .hero {
        background-image: url(images/bg-header-desktop.png);
    }

    .hero-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-title {
        font-size: 2.75rem;
    }

    .hero-desc {
        font-size: 1.25rem;
        width: 55ch;
    }

    .download-btn-wrapper {
        width: unset;
        flex-direction: row;
        gap: 1rem;
    }

    .ios-btn, .mac-btn {
        min-width: 14rem;
        padding: 0.75rem 1.5rem;
    }
}

main {
    padding: 0 var(--paddingX);
}

.content-text-wrapper {
    margin-bottom: 4rem;
}

.content-title {
    color: var(--clr-neutral-header-text);
    font-size: 1.75rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

@media (min-width: 900px) {
    .content-text-wrapper {
        margin-bottom: 5rem;
    }

    .content-title {
        font-size: 2.1875rem;
    }

    .content-info {
        max-width: 60ch;
        margin: 0 auto;
    }
}

.image-text-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 12rem;
}

.text-group-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
}

.text-title {
    color: var(--clr-neutral-header-text);
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

@media (min-width: 900px) {
    .image-text-group {
        flex-direction: row;
        text-align: left;
        gap: 0;
    }

    .text-group-wrapper {
        justify-content: center;
        gap: 3.5rem;
        flex: 0.7;
    }

    .text-group {
        padding-right: 13rem;
        
    }

    .img-wrapper {
        position: relative;
        flex: 1;
    }

    .computer-img {
        position: absolute;
        right: 7rem;
    }

    .text-desc {
        font-size: 1rem;
        width: 35ch;
    }
}